* {margin: 0px; padding:0px}
html {scroll-behavior: smooth;}
body { overflow-x: hidden; }



header {text-align: center; border-bottom: 10px solid #1C2654; overflow: auto; margin-bottom: 1rem;}

.logo {
    width: 120px;
    
}
header img{
    margin: 20px 0px 10px;
}

#hamburger-menu {
    margin-top: 25px;
    float: right;
}
.container{
     width: 95%;
     max-width: 900px;
     margin: auto;
}

.hero {
    margin-top: 10px;
    max-width: 1136px;
    margin:auto;
}
.hero img{
    width: 100%;
    
}

/*Intro Section*/
#intro{
    width: 100%;
    /* margin: 2rem 0px */
}

#intro + p {
    margin: 2rem 0px
}

/*Products Section*/
.product {
    /* width: 46%; */
     float: left; overflow-x: hidden;}
.product img {width: 100%;}
.product:nth-child(odd) {
    margin-right: 4%;
}

.product_color {
    width: 100%; 
    float: left;    
    margin-bottom: 2rem;       
    min-height: 62px; 
}

.product_price {
    color: #808080;
    font-family: 'Varta';
    width: 100%;
    float: left;   
    font-weight: bold;         
}

.product_color .color li {width: 23px; height: 23px; ; box-shadow: 1px 2px 3px silver; float:left; margin: 8px; margin-left: 0px; margin-bottom: 0px; list-style: none;}

#gallery {
    margin-top: 2rem;
}

#gallery div img{
    width: 100%;
}

/*Desktop slider*/
.grid-container { display: grid; grid-template-columns: auto auto auto auto;}
.grid-container div { padding: 1rem; }

/*Footer*/
footer{
    background: #1C2654;
    color: white;
    margin-top: 128px;
    padding-bottom: 3rem;
}

footer h2{
    letter-spacing: 1px;
}
footer a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 30px;
    font-size: 1.1em;
    
}

footer i{
    font-size: 25px;
    margin-right: 5px
}

/* footer div.container div:nth-child(1) {
    padding:2rem 0px 4rem
} */
footer div.container div{
    padding:2rem 0px 4rem
}

footer div.container div:nth-child(2) {
    padding-bottom: 4rem;
}

footer h2{
    margin-bottom: 5px;
}



/*Nav*/
nav {width:500px; margin:auto; text-align: center; padding-top: 30px; font-size: 2em; display: none;}
nav a {font-family: 'Bebas Neue', cursive; text-decoration: none; font-size: 30px !important; margin:1.5rem; color:black}


#intro + p b {font-size: 1.5rem;}

/*Slider*/
/* .slick-slider {overflow: hidden;} */
#desktopslider {display: none;}

@media screen and (min-width: 768px ) {
    header{ text-align: left;}
    footer > div {display: flex;}
    footer div div{width:33%}

    #hamburger-menu, #mobileslider {display: none;}
    
    nav {display: block;}
    #desktopslider {display: grid;}
    .logo {float:left}
    .divider { font-size: 2em;}

    /*Make Word align left*/
    .start.divider:before {
        content: "" !important; 
        flex: 0 !important;
    }

    /*Make Word align right*/
    
    .end.divider:after {
        content: "" !important;
        flex: 0 !important;
    }
    .about{
        overflow: auto;
        margin-bottom: 50px;
    }

    /*Product Section*/
    .product:nth-child(odd){
        margin-right: 0px;
    }

    .product {
        margin: 0px 25px;
        /* margin-right: 50px !important; */
        /* width: 22%;
        margin: 2%; */
    }

    .slick-slide .product{
        /* margin-left:25px; */
        margin: 0px 10%;
    }

    .slick-slide:first-child .product{
        /* margin-left: 0px; */
        /* left: 0px;
        background: red; */
    }
    .container {
        max-width: 1200px;
    }
   

    #intro {max-width: 400px; float: left; margin-right: 2rem}
    #intro + p { padding-top: 12vw; line-height: 30px;}
    /* #intro + p { padding-top: 2rem;} */
    /* #intro + p {float:left} */


    .slider img {width: 300px !important}
}

@media screen and (min-width: 992px) {
    #intro + p {padding-top: 1vw; font-size: 1.8em; line-height: 50px;}
    #intro + p b {font-size: 2.2rem;}
}

@media screen and (min-width: 1200px) {
    .product_color, .product_price {width: 50%}
    .product_price {text-align: right;}
}