* {margin: 0px; padding:0px}
body { overflow-x: hidden;}

header {text-align: center; border-bottom: 10px solid #1C2654; overflow: auto; margin-bottom: 1rem;}

.logo {
    width: 120px;
    
}
header img{
    margin: 20px 0px 10px;
}

#hamburger-menu {
    margin-top: 25px;
    float: right;
}
.container{
     width: 95%;
     max-width: 900px;
     margin: auto;
}

.hero {
    margin-top: 10px;
    max-width: 1136px;
    margin:auto;
}
.hero img{
    width: 100%;
    
}

/*Intro Section*/
#intro{
    width: 100%;
    /* margin: 2rem 0px */
}

#intro + p {
    margin: 2rem 0px
}

/*Products Section*/
.product {width: 46%; float: left; overflow-x: hidden;}
.product img {width: 100%;}
.product:nth-child(odd) {
    margin-right: 4%;
}

.product_color {
    width: 100%; 
    float: left;    
    margin-bottom: 2rem;       
    min-height: 62px; 
}

.product_price {
    color: #808080;
    font-family: 'Varta';
    width: 100%;
    float: left;            
}

.product_color .color li {width: 23px; height: 23px; ; box-shadow: 1px 2px 3px silver; float:left; margin: 8px; margin-left: 0px; margin-bottom: 0px; list-style: none;}

#gallery {
    margin-top: 2rem;
}

#gallery div img{
    width: 100%;
}

/*Footer*/
footer{
    background: #1C2654;
    color: white;
    padding-bottom: 3rem;
}

footer h2{
    letter-spacing: 1px;
}
footer a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 30px;
    font-size: 1.1em;
    
}

footer i{
    font-size: 25px;
    margin-right: 5px
}

footer div.container div:nth-child(1) {
    padding:2rem 0px 4rem
}

footer div.container div:nth-child(2) {
    padding-bottom: 4rem;
}

footer h2{
    margin-bottom: 5px;
}

/*Nav*/
nav {width:500px; margin:auto; text-align: center; padding-top: 30px; font-size: 2em; display: none;}
nav a {font-family: 'Bebas Neue', cursive; text-decoration: none; font-size: 30px !important; margin:1.5rem; color:black}


#intro + p b {font-size: 1.5rem;}

@media screen and (min-width: 768px ) {
    header{ text-align: left;}
    #hamburger-menu {display: none;}
    nav {display: block;}
    .logo {float:left}
    .divider:before {
        content: "" !important; 
        flex: 0 !important;
    }
    .divider {
        font-size: 2em;
    }

    #intro {max-width: 400px; float: left; margin-right: 2rem}
    #intro + p { padding-top: 12vw; line-height: 30px;}
    /* #intro + p { padding-top: 2rem;} */
    /* #intro + p {float:left} */
}

@media screen and (min-width: 992px) {
    #intro + p {padding-top: 1vw; font-size: 1.8em; line-height: 50px;}
    #intro + p b {font-size: 2.2rem;}
}